*
body {
	background: url("../images/odin.jpg")
}

#index-heading {
	font-family: Skranji, sans-serif;
	color: rgba(206, 126, 6, 0.822);
	font-size: 50PX;
	text-align: center;
	text-shadow: 0px 4px 11px #000000;
}
.links-list {
	font-family: Skranji , sans-serif;
	text-align: ;
}
2