


.index-heading {
	font-family: sans-serif;
	color: rgba(179, 176, 29, 0.74);
	font-size: 50PX;
	text-align: center;
	text-shadow: 0px 4px 11px #000000;
	border-bottom: 10px solid #889639 ;
}
.links-list {
	font-family: sans-serif;
	text-align: ;
}
